/* ------------------------------------------------------


    Common 공통
             

------------------------------------------------------ */
body, div, h1, h2, h3, h4, h5, h6, p, span, a, ul, li {
    /* color: #FFF; */
    word-wrap: break-word;
    word-break: keep-all;
}

a {
    display: block;
}

img {
    display: block;
    width: 100%;
}

.wrap {
    min-width: 1200px;
    background-color: #191919;
    font-family: "Lato", "sans-serif";
    font-size: 10px;
    font-weight: 400;
}

.flex {
    display: flex;
    display: -ms- flex;
    display: -moz- flex;
    display: -webkit- flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
}

.scroll {
    height: 60px;
    transition: height 0.5s;
}


.en {
    font-family: 'Lato', sans-serif;;
    font-weight: 400;
}

.kr {
    font-family: 'Lato', sans-serif;;
    font-weight: 400;
}

.zh {
    font-family: 'Noto Sans CJK SC', sans-serif;;
    font-weight: 400;
}

.jp {
    font-family: "Spoqa Han Sans JP";
    font-weight: 400;
}

.line {
    display: block;
    width: 100px;
    height: 2px;
    background-image: linear-gradient(to left, rgba(17, 218, 251, 0), #11dafb 52%, rgba(17, 218, 251, 0) 100%);
    margin: 0;
}

.text {
    width: 550px;
}

/* .way-box{
    margin: 5px 10px;
} */

@media screen and (min-width: 768px)  {
.bg-black {
    background-color: #191919;
    transition: background-color 1s;
}
}



/* ------------------------------------------------------


    Web 웹
             

------------------------------------------------------ */
h2 {
    /* width: 437px;
    height: 56px; */
    transform: rotate(-360deg);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 36px;
    /* font-weight: bold; */
    font-style: normal;
    font-stretch: normal;
    line-height: 1.81;
    letter-spacing: 0.29px;
    text-align: center;
    color: #11dafb;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;   
}

h4 {
    /* width: 490px;
    height: 26px; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 0.3px;
    color: #ffffff;
}

h5 {
    /* width: 340px; */
    /* height: 26px; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: 0.25px;
    /* text-align: center; */
    color: #ffffff;
}


strong {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: block;
    margin: 25px 0;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    color: #ffffff;
}

p {
    /* width: 200px; */
    /* height: 80px; */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 0.5; */
    letter-spacing: 0.32px;
    color: #ffffff;
}

/* p .title{
    font-size: 20px;
    font-weight: 1200;
} */

/* .web {
    display: block;
} */

.mb {
    display: none;
}


/* HEADER */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

header {
    width: 1200px;
    height: 80px;
    margin: 20px auto 0;
    padding: 0 50px;
}

h1 {
    width: 40px;
}

.gnb {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
    width:1000px;
}

.web-nav ul li {
    width: 80px;
    margin-right: 20px;
    line-height: 40px;
}

.web-nav a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.web-nav a:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #11dafb;
}

.web-nav a.on {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #11dafb;
}

.language {
    position: relative;
    width: 80px;
}

.lan-now {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 80px;
    margin: auto;
    line-height: 40px;
    text-align: left;
    cursor: pointer;
    background: url(../images/open.svg) no-repeat center right / 10px;
    color: #fff;
}

.lan-now.on {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: url(../images/close.svg) no-repeat center right / 10px;
    color: #fff;
}

.lan-list {
    position: absolute;
    width: 100%;
    border: 1px solid #3C3C3C;
    background-color: #191919;
}

.lan-list ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* height: 162px; */
}

.lan-list li {
    line-height: 40px;
}

.lan-list a {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A9A9A9;
}

.lan-list a.on {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #FFF;
}

.lan-list a:hover {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #FFF;
}
/* //HEADER */


/* MAIN */
#main {
    /* background: url(../images/main.png) no-repeat center center / 100%; */
    height:auto;
    background-size: cover;
    /* margin-bottom: 100px; */
}

/* .main-wrap {
    width: 1200px;
    margin: auto;
    padding: 50px 10px 50px;
    text-align: center;
} */

    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #191919;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  
    /*other pagination*/
    .swiper-pagination .swiper-pagination-bullet {
        border-radius: 50px;
        color: grey;
        background-color: grey;
        opacity: 1;
        width: 5px;
        height: 5px;
    }

    .swiper-pagination .swiper-pagination-bullet-active {
        border-radius:  50px;
        color: #11dafb; /*orange color*/
        background-color:#11dafb; /*orange color*/
        opacity: 1;
    }
    
    .swiper-pagination-bullet {  
        display:block;  
    }
    .swiper-container-horizontal>.swiper-pagination-bullets { 
        width: initial;  
        top: 90%;  
        right: 0;  
        bottom: inherit;  
        left: inherit;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {  
        margin: 5px;  
    }  

/* //MAIN */


/* ABOUT */
#about {
    width: 1200px;
    margin:   auto ;
    padding: 68px 50px 90px;
}


#about h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.29px;
    text-align: center;
    /* color: #ffffff; */
    color: #fff;
    margin: 0 auto 30px;
}

#about strong {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 1000px;
    margin: auto;
    text-align: center;
}

/* //ABOUT */


/* PRODUCTS */
#products {
    width: 1200px;
    margin:  auto ;
    padding: 90px 50px ;
}

#products h2 {
    text-align: center;
    margin-bottom: 90px;
}

#products h4 {
    font-weight: 700;
}

#products .line {
    margin: 0 auto 29px;
}

#products strong {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 30px;
}

#products p {
    font-weight: 300;
    color: #FFF;
    width: 210px;
}

/* #products .img {
    width: 480px;
    height: 175px;
} */




.flex .box{
    margin-right:17px;
    margin-bottom: 20px;
}

.flex .box img{
    /* width:20px; 
    height:15px;  */
    margin-right: 12px;
    display:inline;
}

.flex .box p{
    margin-bottom: 10px;
}

.way {
    /* height: 240px; */
}

.slot {
    flex-direction: row-reverse;
    /* height: 266px; */
    margin: 180px 0;
}

.sports {
    /* height: 250px; */
}

.racing {
    flex-direction: row-reverse;
    /* height: 245px; */
    margin-top: 180px;
}
/* //PRODUCTS */


/* ECOSYSTEM */
#news{
    width: 1200px;
    margin: auto;
    padding: 90px 50px;
}

#news h2 {
    text-align: center;
    margin-bottom: 90px;
}

#news h4 {
    font-weight: 700;
    margin:20px auto 8.5px;
    width: 465px;
}

#news p {
    font-weight: 300;
}

#news .line {
    margin: 0 auto 29px;
}

/* #news img {
    width: 460px;
    height: auto;
} */


/* //ECOSYSTEM */



/* CONTACT */
#contact {
    width: 1200px;
    margin: auto;
    padding: 90px 0;
}

#contact h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0 auto 90px;
}


#contact h5 {
    font-weight: 300;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.42px;
    color: #ffffff;
    margin: 30px auto 50px;
    text-align: center;
    /* width: 200px; */
    /* height: 24px; */
}

#contact .line {
    margin: 0 auto 29px;
}



#contact img {
    width: 132px;
    height: 84px;
    object-fit: contain;
    opacity: 0.8;
    margin: 0 auto;
}

#contact .button-div{
    text-align: center;
    /* height: 10px; */
}

 #contact  .button{
    background: #191919;
    padding: 0;
    color: #fff;
    border: 0;
    /* margin: 0 auto; */
    text-align: center;
    /* margin-top: 40px; */
    margin: 40px auto 0;
}

#contact .button:hover{
    background: #191919;
    /* color: red; */
    cursor: pointer;
}

#contact button  p{
    width: 155px;
    height: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    margin: 0 auto 0;
    border-bottom: solid 1px #ffffff;
}

.modal{
    display: none;
    position: fixed;
    z-index:1;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.5);
}

.modal-content{
    background-color: #191919;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 500px;
    opacity: 0.98;
    border-radius: 9px;
    box-shadow: 1px 2px 10px 0 rgba(10, 10, 10, 0.5);
    /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
    animation-name: modalopen;
    animation-duration:1s;
    padding: 10px 32px;
}


.modal-body{
    padding:  60px 0 0 0;
}

.modal-body h6{
    width: 151px;
    height: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 0.3px;
    color: #11dafb;
    margin: 0 auto 30px;
    text-align: center;
}

.closeBtn{
    color: #fff;
    float: right;
    font-size: 35px;
    /* width: 15.6px;
    height: 15.6px; */
    /* transform: rotate(45deg); */
    border-radius: 1px;
    top: 0;
}

.closeBtn:hover,.closeBtn:focus{
    /* color:#000; */
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{opacity: 0}
    to {opacity: 1}
}

.submit-form {
    text-align: center;
}

.form-example label{
    width: 170px;
    height: 18px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.32px;
    color: #ffffff;
    display:block;
    margin-bottom: 8px;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    width: 140px;
    height: 18px;
    opacity: 0.3;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.32px;
    color: #ffffff;
    text-align: left;
  }
input::-moz-placeholder,textarea::-moz-placeholder { /* Firefox 19+ */
    width: 140px;
    height: 18px;
    opacity: 0.3;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.32px;
    color: #ffffff;
    text-align: left;
  }
input:-ms-input-placeholder,textarea:-ms-input-placeholder { /* IE 10+ */
    width: 140px;
    height: 18px;
    opacity: 0.3;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.32px;
    color: #ffffff;
    text-align: left;
  }
input:-moz-placeholder,textarea:-moz-placeholder { /* Firefox 18- */
    width: 140px;
    height: 18px;
    opacity: 0.3;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.32px;
    color: #ffffff;
    
  }

.form-example input ,#name,#email{
    width: 170px;
    /* height: 44px; */
    opacity: 0.9;
    border-radius: 3px;
    background-color: #111111;
    margin-bottom: 32px;
    color: #fff;
    cursor: text;
    text-align: left;
    padding: 13px 15px;
    font-size: 14px;
    font-weight:400;
}

.form-example textarea ,#message{
    width: 370px;
    height: 132px;
    opacity: 0.9;
    border-radius: 3px;
    background-color: #111111;
    margin-bottom: 30px;
    color: #fff;
    cursor: text;
    /* word-break:break-all; */
    padding: 16px 15px;
    font-size: 14px;
    font-weight:400;
    border:0;
}

.form-example button ,#submit{
    width: 170px;
    height: 44px;
    opacity: 0.9;
    border-radius: 3px;
    background-color: #11dafb;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.32px;
    text-align: center;
    color: #191919;
    margin-bottom: 40px;
    border: none;
}

#submit.disabled{
    background: #545454;
}

#submit.disabled:hover{
    cursor: default;
}

.form-example button ,#submit:hover{
    cursor: pointer;

}

#contact form .flex {
    flex-direction: row;
}





/* //CONTACT */



/* FOOTER */
footer {
    width: 1200px;
    margin: auto;
    padding: 90px 50px;
}

/* .address {
    font-family: "Lato";
    font-weight: 800;
    font-size: 1.4rem;
    opacity: .4;
} */

.copy {
    width: 480px;
    height: 24px;
    transform: rotate(-360deg);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    margin: auto;
    /* opacity: .8; */
}

/* .icon {
    width:1.4rem; 
    margin-right: 1.2rem;
}

.sns {
    width: 220px;
}

.sns ul li {
    width: 20px;
    opacity: .4;
}

.sns ul li:hover {
    opacity: 1;
} */
/* //FOOTER */


/* ------------------------------------------------------


    Mobile 모바일
             

------------------------------------------------------ */
@media screen and (min-width: 320px) and (max-width: 767px) {

    .wrap {
        min-width: 320px;
    }

    .line {
        width: 80px;
    }

    .text {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 2.4rem;
    }
    
    h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;   
    }
    
    h4 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
    }
    
    strong {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        margin: 15px 0;
        font-size: 1.2rem;
        line-height: 1.5;
        /* letter-spacing: -0.2px; */
    }
    
    p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        width: 206px;
        height: 80px;
        font-size: 14px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.32px;
        color: #ffffff;
    }

    .web {
        display: none;
    }

    .mb {
        display: block;
    }

    .bg-black {
        background-color: none;
        transition: background-color 1s;
    }
    
    
    /* HEADER */
    header {
        width: auto;
        min-width: 320px;
        height: 52px;
        padding: 0 18px;
    }
    
    h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        width: 32px;
    }

    .ham {
        background: #191919;
        width:36px;
        height: 36px;
    }

    .ham-wrap {
        position: relative;
        flex-direction: column;
        width: 22px;
        height: 16px;
        cursor: pointer;
        z-index: 1;
        margin: 10px auto;
    }
    
    .ham-wrap span{
        width: 22px;
        height: 2px;
        background-color: #FFF;
        transition: all 0.2s ease-in-out;
    }

    .ham-wrap.active {
        /* margin-right: 18px; */
        margin: 10px auto 0;
    }

    .ham-wrap.active span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .ham-wrap.active span:nth-child(2) {
        transform: rotate(45deg);
    }

    .ham-wrap.active span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
    
    .gnb {
        /* display: none; */
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #191919;
        
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
    }

    .gnb.open {
        opacity: 0.99;
        visibility: visible;
        overflow-y: scroll;
    }

    .gnb img {
        position: absolute;
        width: 30px;;
        left: 45%;
        bottom: 10%;;
    }
    

    .mb-nav{
        padding: 109px 0 0;
    }

    .mb-nav li {
        margin-bottom: 0px;
    }

    .mb-nav li a {
        height: 56px;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.44px;
        color: #FFF;
        vertical-align: middle;
    }
    
    .language {
        width: auto;
    }
    
    .lan-click {
        height: 56px;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.44px;
        color: #FFF;
    }
    
    .lan-list {
        position: static;
        /* margin-top: 25px; */
        border: 0;
    }
    
    .lan-list li {
        height: 36px;
        line-height: normal;
        font-size: 16px;
        letter-spacing: 0.44px;
    }

    .lan-list ul {
        height: auto;
    }

    .lan-list a {
        height: 36px;
        display: block;
    }
    /* //HEADER */
    
    

 /* MAIN */
#main {
    /* background: url(../images/main.png) no-repeat center center / 100%; */
    height:auto;
    background-size: cover;
    /* margin-bottom: 100px; */
}

.main-wrap {
    /* width: 1200px; */
    margin: auto;
    padding: 0;
    text-align: center;
}

    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #191919;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  
    /*other pagination*/
    .swiper-pagination .swiper-pagination-bullet {
        border-radius: 50px;
        color: grey;
        background-color: grey;
        opacity: 1;
        width: 5px;
        height: 5px;
    }

    .swiper-pagination .swiper-pagination-bullet-active {
        border-radius:  50px;
        color: #11dafb; /*orange color*/
        background-color:#11dafb; /*orange color*/
        opacity: 1;
    }
    
    .swiper-pagination-bullet {  
        display:block;  

    }
    .swiper-container-horizontal>.swiper-pagination-bullets { 
        width: initial;  
        top: 85%;  
        right: 0;  
        bottom: inherit;  
        left: inherit;

    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {  
        margin: 5px;  
    }  

    .main img {
        position: absolute;
        top: 75%; 
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index: 1; 
        width: 270px;
        margin: auto;
    }

/* //MAIN */
    
    
 /* ABOUT */
#about {
    width: auto;
    min-width: 320px;
    margin:   auto ;
    padding: 0px 10px 0px;
}


#about h2 {
    width: 300px;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFF;
    margin: 0 auto 30px;
}

#about strong {
    width: 300px;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: -0.36px;
    text-align: center;
    color: #ffffff;
    /* margin-bottom: 27px; */
}

/* //ABOUT */
    
    
/* PRODUCTS */
#products {
    width: auto;
    min-width: 320px;
    margin:   auto ;
    padding: 90px 20px 45px;
}

#products .line {
    margin: 0 auto 20px;
}

#products h2 {
    width: 164px;
    height: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: -0.5px;
    text-align: center;
    color: #11dafb;
    margin: 0 auto 40px;
}

#products .img img {
    /* width: auto; */
    /* width: 80%; */
    min-width: 280px;
    height: auto;
    margin: auto;
    text-align: center;
}

#products h4 {
    /* width: 161px;
    height: 26px; */
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: -0.41px;
    color: #ffffff;
}

#products strong {
    /* width: 270px; */
    /* height: 66px; */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: -0.36px;
    color: #ffffff;
    margin: 10px 0 33px;
}


#products p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


#products .text {
    width: auto;
    min-width: 280px;
    height: auto;
    
    text-align: left;
    margin: 40px 0 0 0;
}


/* #products p {
    width: 221px;
    height: 60px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.32px;
    color: #ffffff;
} */

/* #products .img {
    width: 480px;
    height: 175px;
} */

.product-line {
    display: block;
    width: 100%;
    height: 1px;
    /* background-image: linear-gradient(to left, rgba(17, 218, 251, 0), #11dafb 52%, rgba(17, 218, 251, 0) 100%); */
    border: solid 0.5px #3a3a3a;
    /* margin-bottom: 22px; */
    margin: 0 auto 22px ;
}



#products .flex .box{
    /* margin-right:17px;
    margin-bottom: 20px; */
    margin: 0 0 20px 0;
    /* width: 270px; */
}

#products .flex .box img{
    /* width:290px; 
    height:auto;  */
    margin-right: 25px;
    display:inline;
}

#products .flex .box p{
    /* min-width: 100%; */
    width: 231px;
    height: auto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.32px;
    color: #ffffff;
    margin-bottom: 11px;
}

.way {
    display: block;
    /* height: 240px; */
}

.slot {
    display: block;
    /* flex-direction: row-reverse; */
    /* height: 266px; */
    margin-top: 47px;
    margin-bottom: 0;
}

.sports {
    display: block;
    /* height: 250px; */
    margin-top: 47px;
}

.racing {
    display: block;
    /* flex-direction: row-reverse; */
    /* height: 245px; */
    margin-top: 47px;
}
/* //PRODUCTS */
    
     
    /* ECOSYSTEM */
    #news{
        width: auto;
        min-width: 320px;
        margin:   auto ;
        padding: 45px 20px;
    }

    #news h2 {
        width: 100%;
        margin-bottom: 40px;
    }

    #news .line {
        margin: 0 auto 29px;
    }

    #news .news-box {
        /* width: 30px; */
        min-width: 280px;
        width: auto;
    }
    
    #news img {
        /* width: auto; */
        /* width: 80%; */
        min-width: 280px;
        height: auto;
        margin: auto;
    }

    #news h4 {
        width: auto;
        min-width: 280px;
        /* height: 52px; */
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: -0.41px;
        color: #ffffff;
        margin: 20px 0 8px;
    }

    #news p {
        width: auto;
        min-width: 280px;
        height: 20px;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.32px;
        color: #ffffff;
        margin: 0px 0 40px;
    }
    /* //ECOSYSTEM */
    
    
    /* CONTACT */
    #contact {
        width: auto;
        min-width: 320px;
        padding: 45px 0;
    }

    #contact h2 {
        text-align: center;
        margin: 0 auto 40px;
    }
    #contact h5 {
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: -0.36px;
        text-align: center;
        color: #ffffff;
        margin: 40px auto 30px;
        text-align: center;
        /* width: 200px; */
        /* height: 24px; */
    }
    
    #contact .line {
        margin: 0 auto 29px;
    }
    
    
    
    #contact img {
        width: 132px;
        height: 84px;
        object-fit: contain;
        opacity: 0.8;
        margin: 0 auto;
    }

    #contact .button-div{
        text-align: center;
    }
    
     #contact  .button{
        background: #191919;
        padding: 0;
        color: #fff;
        border: 0;
        /* margin: 0 auto; */
        text-align: center;
        /* margin-top: 40px; */
        margin: 0 auto;
        padding: 10px;
    }
    
    #contact .button:hover{
        background: #191919;
        /* color: red; */
        cursor: pointer;
    }
    
    #contact button  p{
        width: 155px;
        height: 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 13px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.92;
        letter-spacing: 0.3px;
        text-align: center;
        color: #ffffff;
        margin: 0 auto 0;
        border-bottom: solid 1px #ffffff;
    }
    
    .modal{
        display: none;
        position: fixed;
        z-index:1;
        left: 0;
        top:0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color:rgba(0,0,0,0.5);
    }
    
    .modal-content{
        z-index: 50;
        background-color: #191919;
        margin: 0;
        width: 100%;
        height: auto;
        /* opacity: 0.9; */
        border-radius: 9px;
        box-shadow: 1px 2px 10px 0 rgba(10, 10, 10, 0.5);
        /* box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2); */
        animation-name: modalopen;
        animation-duration:1s;
        padding: 20px 20px 150px;;
    }

    .modal-body{
        padding:  80px 0 0 0;
    }
    
    .modal-body h6{
        width: 139px;
        height: 26px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 22px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: 0.28px;
        color: #11dafb;
        margin: 0 auto 30px;
    }

    
    .closeBtn{
        color: #fff;
        float: right;
        font-size: 30px;
        /* width: 15.6px;
        height: 15.6px; */
        /* transform: rotate(45deg); */
        border-radius: 1px;
        top: 50px;
    }
    
    .closeBtn:hover,.closeBtn:focus{
        /* color:#000; */
        text-decoration: none;
        cursor: pointer;
    }
    
    @keyframes modalopen{
        from{opacity: 0}
        to {opacity: 1}
    }
    
    .submit-form {
        text-align: center;
    }
    
    .form-example label{
        width: 170px;
        height: 18px;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        letter-spacing: 0.3px;
        color: #ffffff;
        display:block;
        margin-bottom: 8px;
    }
    
    input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-family: 'Lato', sans-serif;
        width: 140px;
        height: 18px;
        opacity: 0.3;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.32px;
        color: #ffffff;
        text-align: left;
      }
    input::-moz-placeholder,textarea::-moz-placeholder { /* Firefox 19+ */
        font-family: 'Lato', sans-serif;
        width: 140px;
        height: 18px;
        opacity: 0.3;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.32px;
        color: #ffffff;
        text-align: left;
      }
    input:-ms-input-placeholder,textarea:-ms-input-placeholder { /* IE 10+ */
        font-family: 'Lato', sans-serif;
        width: 140px;
        height: 18px;
        opacity: 0.3;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.32px;
        color: #ffffff;
        text-align: left;
      }
    input:-moz-placeholder,textarea:-moz-placeholder { /* Firefox 18- */
        font-family: 'Lato', sans-serif;
        width: 140px;
        height: 18px;
        opacity: 0.3;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.32px;
        color: #ffffff;
        text-align: left;
      }
    
    .form-example input ,#name{
        width: 100%;
        border-radius: 3px;
        background-color: #111111;
        margin-bottom: 20px;
        color: #fff;
        cursor: text;
        text-align: center;
        padding: 13px 15px;
        font-size: 14px;
        font-weight:400;
        line-height: 1.29;
        letter-spacing: 0.32px;
    }

    .form-example input ,#email{
        width: 100%;
        border-radius: 3px;
        background-color: #111111;
        margin-bottom: 30px;
        color: #fff;
        cursor: text;
        text-align: center;
        padding: 13px 15px;
        font-size: 14px;
        font-weight:400;
        line-height: 1.29;
        letter-spacing: 0.32px;
    }
    
    .form-example textarea ,#message{
        width: 100%;
        border-radius: 3px;
        background-color: #111111;
        margin-bottom: 50px;
        color: #fff;
        cursor: text;
        padding: 16px 15px;
        font-size: 14px;
        font-weight:400;
        border:0;
        line-height: 1.29;
        letter-spacing: 0.32px;
    }
    
    .form-example button,#submit{
        width: 170px;
        height: 44px;
        opacity: 0.9;
        border-radius: 3px;
        background-color: #11dafb;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.32px;
        text-align: center;
        color: #191919;
        margin: 0 auto 60px;
        border: none;        
    }

    #submit.disabled{
        background: #545454;
    }

    #contact form .flex {
        flex-direction: column;
    }
    

    
    

    /* //contact */
    

    /* FOOTER */
    footer {
        flex-direction: column-reverse;
        width: auto;
        min-width: 320px;
        padding: 45px 0 90px;
    }

    /* .address {
        font-weight: 800;
        font-size: 0.8rem;
        text-align: center;
    }
    
    .icon {
        width:1.0rem; 
        margin-right:1.0rem;
    } */

    .copy {
        width: 270px;
        height: 25px;
        opacity: 0.6;
        font-size: 13px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.92;
        letter-spacing: 0.3px;
        text-align: center;
        color: #ffffff;
    }
    
    /* .sns {
        margin-bottom: 50px;
        padding: 0 30px;
    }
    
    .sns ul li {
        width: 12%;
    } */
    
    /* //FOOTER */
    

}