* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", "arial", "sans-serif";
    font-size: 10px;
    font-weight: normal;
    /* background-color: #FBFBFB; */
    background-color: #FFF;
}

body, div, h1, h2, h3, h4, h5, h6, p, span, a, ul, ol, li, input, textarea, th, td, dl, dt, dd, form, fieldset, legend, label {
    margin: 0;
    padding: 0;
    font-family: "DINPro", "arial", "sans-serif";
    font-size: 10px;
    font-weight: normal;
    color: #1E1E1E;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 0;
    background: none;
}